langchain
langchain-redis
langchain-openai
langchain-google
pydantic
python-dotenv
langgraph
wikipedia
langchain-community
langchain_google_genai
langgraph-checkpoint-sqlite
pypdf
langchain-postgres
langchain_redis
azure-ai-documentintelligence
prometheus_client
fastapi
uvicorn
redis>=5.0.0
nemoguardrails
streamlit
