langchain
langchain-core
langchain-community
langgraph
langchain-google
langchain-google-genai
langchain_openai
bs4
pypdf
langchain-postgres
angchain_chroma
langchain-text-splitters
langchain-classic
Pillow